@model Reservationsystem.Models.StatusModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StatusModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
