@model Reservationsystem.Models.TemplateModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TemplateModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.NameD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameD)
                @Html.ValidationMessageFor(model => model.NameD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameF, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameF)
                @Html.ValidationMessageFor(model => model.NameF)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameI, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameI)
                @Html.ValidationMessageFor(model => model.NameI)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameE)
                @Html.ValidationMessageFor(model => model.NameE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartSatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartSatusId)
                @Html.ValidationMessageFor(model => model.StartSatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmedStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmedStatusId)
                @Html.ValidationMessageFor(model => model.ConfirmedStatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApprovedSatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApprovedSatusId)
                @Html.ValidationMessageFor(model => model.ApprovedSatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeniedStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeniedStatusId)
                @Html.ValidationMessageFor(model => model.DeniedStatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ElaboratedStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ElaboratedStatusId)
                @Html.ValidationMessageFor(model => model.ElaboratedStatusId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
